<div class="vehicle-list">
    <div class="list-container">
        <h2>Vehículos Registrados</h2>
        <ul>
            <li *ngFor="let vehicle of vehicles">
                <div class="vehicle-info">
                    <div class="vehicle-details">
                        <h3>{{ vehicle.brand }} {{ vehicle.model }} ({{ vehicle.year }})</h3>
                    </div>
                    <div class="vehicle-details">
                        <p>Número de Placa: {{ vehicle.plate_number }}</p>
                    </div>
                    <button>Eliminar</button>
                </div>
            </li>
        </ul>
    </div>
</div>