<div>
    <h1>Listado de Servicios</h1>

    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Tipo de Servicio</th>
                <th>Detalle de Servicio</th>
                <th>Vehículo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2023-05-20</td>
                <td>Cambio de aceite</td>
                <td>Revisión de filtros</td>
                <td>ABC123</td>
            </tr>
            <tr>
                <td>2023-05-25</td>
                <td>Alineación y balanceo</td>
                <td>Rotación de llantas</td>
                <td>DEF456</td>
            </tr>
            <!-- Agrega más filas de acuerdo a los servicios existentes -->
        </tbody>
    </table>
</div>